#name {
  font-weight: 900;
  font-size: 50px;
}
.text-white {
  font-weight: 900;
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}

#navbarSupportedContent a {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  margin-left: 20px;
}
#navbarSupportedContent a:hover {
  color: #0275d8;
}
